[credential]
	helper = osxkeychain

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-number-style decorations
    whitespace-error-style = 22 reverse
	syntax-theme = ansi
	navigate = true

[delta "line-number-style"]
	line-numbers = true
    line-numbers-minus-style = "#ff5151"
    line-numbers-zero-style = "#fefefe"
    line-numbers-plus-style = "#69f0ad"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue

[delta "decorations"]
	# Display overlap issue!!!
    # commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
[commit]
    gpgsign = true
[core]
	excludesfile = /Users/jiahaohe/.gitignore
[user]
    name = iteemhe
    email = 31311090+iteemhe@users.noreply.github.com
    signingKey = DBCFF98E5A4661F0

